<!DOCTYPE html>
<html>
<head>
  <h2>Expenses</h2>
</head>


<% total = 0 %>
<% for transaction in @transactions %>
<% total += transaction.value %>
<%end%>

<p class="total"> Current Expense Total: £<%= total %></p>
<p class="budget"> Budget: £700




<p class="btn--wrapper">
  <a class="add_new" href="/transactions/new">Add New Entry</a>



<body>

  <table class="expenses">
    <tr>
      <th>ID</th>
      <th>Mechant</th>
      <th>Category</th>
      <th>Value</th>
      <th>Day</th>
      <th>Month</th>
      <th>Year</th>
      <th>Edit Transaction</th>
      <th>Delete Entry</th>
    </tr>
<% for transaction in @transactions %>
    <tr>
      <td><%= transaction.id %></td>
      <td><%= transaction.merchant.name%></td>
      <td><%= transaction.category.type%></td>
      <td><%= transaction.value %></td>
      <td><%= transaction.day %></td>
      <td><%= transaction.month %></td>
      <td><%= transaction.year %></td>
      <td>
        <a href="/transactions/<%= transaction.id %>/edit">Edit</a></td>
      <td>
        <form method="post" action="/transactions/<%= transaction.id%>/delete">
        <input class="submit" type="submit" value="Delete"/>
        </form>
      </td>
    </tr>
<% end %>
  </table>

</body>
</html>
